Source: history-service
Section: libs
Priority: optional
Maintainer: Adam Boardman <adamboardman@gmail.com>
Build-Depends: cmake (>= 2.8.9),
               extra-cmake-modules,
               dbus-test-runner,
               debhelper (>= 9),
               dconf-cli,
               gnome-keyring,
               libphonenumber-dev,
               libqt5sql5-sqlite,
               libsqlite3-dev,
               libtelepathy-qt5-dev,
               pkg-config,
               python3,
               qtchooser,
               qt5-qmake,
               qtbase5-dev,
               qtdeclarative5-dev,
               qtpim5-dev,
               sqlite3,
               telepathy-mission-control-5,
               xvfb,
               xauth,
Standards-Version: 3.9.8
Homepage: https://github.com/gemian/history-service
Vcs-Git: https://github.com/gemian/history-service.git

Package: history-service
Architecture: any
Multi-Arch: foreign
Pre-Depends: dpkg (>= 1.15.6~),
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libqt5sql5-sqlite,
Description: History service to store messages and calls
 A service to record the messages that are sent and received and the calls that
 are made in the Ubuntu Touch platform.
 .
 This package contains the history service daemon that watches for Telepathy
 events and stores.

Package: history-service-tools
Architecture: any
Multi-Arch: foreign
Pre-Depends: dpkg (>= 1.15.6~),
Section: utils
Depends: history-service (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: History service to store messages and calls - tools
 A service to record the messages that are sent and received and the calls that
 are made in the Ubuntu Touch platform.
 .
 This package contains some tools to be used with the history service.

Package: libhistoryservice0
Architecture: any
Multi-Arch: same
Pre-Depends: dpkg (>= 1.15.6~),
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: History service to store messages and calls - client library
 A service to record the messages that are sent and received and the calls that
 are made in the Ubuntu Touch platform.
 .
 This package contains the client library to access the data stored by the
 history service.

Package: qtdeclarative5-ubuntu-history0.1
Architecture: any
Multi-Arch: same
Pre-Depends: dpkg (>= 1.15.6~),
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: History service to store messages and calls - QML plugin
 A service to record the messages that are sent and received and the calls that
 are made in the Ubuntu Touch platform.
 .
 This package contains a QML plugin that provides data models to access the data
 stored by the history service.

Package: libhistoryservice-dev
Architecture: any
Multi-Arch: same
Pre-Depends: dpkg (>= 1.15.6~),
Section: libdevel
Depends: libhistoryservice0 (= ${binary:Version}),
         ${misc:Depends},
Description: History service to store messages and calls - development files
 A service to record the messages that are sent and received and the calls that
 are made in the Ubuntu Touch platform.
 .
 This package contains the development files for the history service client
 library.
